.container {
  min-width: 275px;
  margin: 3%;
}

.playerTurn {
  margin-top: 3%;
  margin-bottom: 5%;
  justify-content: center;
  text-align: center;
}

.stonesArea {
  display: grid;
  margin: 5%;
  grid-column-gap: 40%;
  grid-row-gap: 50px;
  grid-template-columns: auto auto;
  justify-content: center;
}

.actionsArea {
  margin: 2%;
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto;
  justify-content: center;
}

.bothButton {
  grid-column: 1 / span 2;
}
