.container {
  min-width: 275px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  border-radius: 12px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
}

.header {
  margin-top: 3%;
  margin-bottom: 5%;
  justify-content: center;
  text-align: center;
}

.chooseStones {
  display: grid;
  margin: 5%;
  grid-column-gap: 100px;
  grid-row-gap: 5%;
  grid-template-columns: auto auto;
  justify-content: center;
}

.stonesCount {
  text-align: center;
}

.startButton {
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 1000px;
  font-size: 18px;
}
